{% extends 'base.html.twig' %}

{%  block title %} Modification du profil {{ user.pseudo }} {%  endblock %}

{% block body %}

    <div class="card container mt-3">
        <h2 class="card-header">Mon profil</h2>
        <div class="card-body">
            {{ form_start(formulaireUser) }}
            <div class="row-test">
                <div class="col">
                    {% if(user.photo != null) %}
                        <!-- TODO: Faire correspondre l'image -->
                        <img class="rounded" src="{{ imageProfil }}" alt="Image de l'utilisateur">
                    {% else %}
                        <img class="rounded" src="{{ asset('img/imageDefaut.png') }}" alt="Image d'utilisateur par défault">
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.pseudo) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.pseudo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.prenom) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.prenom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.nom) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.nom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.telephone) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.telephone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.email) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.password) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.password) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.confirmation) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.confirmation) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.ville) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.ville) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="file" name="{{ field_name(formulaireUser.photo) }}" id="imgUpload">
                            <label for="imgUpload" data-browse="Choisir un fichier"> Aucun fichier choisi</label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-danger">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        {% for message in app.flashes('alert') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}