{% extends 'base.html.twig' %}

{%  block title %} Modification du profil {{ user.pseudo }} {%  endblock %}

{% block body %}

    <div class="card container mt-3">
        <h2 class="card-header" style="text-align: center">{{ user.pseudo }}</h2>
        <div class="card-body">
            {{ form_start(formulaireUser, {'multipart': true}) }}
            <div class="row-test">
                <div class="col">
                    {% if(user.photo != null) %}
                        <!-- TODO: Faire correspondre l'image -->
                        <img class="mx-auto d-block img-fluid rounded" src="data:image/png;base64,{{ photo }}" alt="Image de l'utilisateur">
                    {% else %}
                        <img class="rounded" src="{{ asset('img/imageDefaut.png') }}" alt="Image d'utilisateur par défault">
                    {% endif %}
                <br></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.pseudo) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.pseudo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Prénom
                        </div>
                        <div class="col profilInfo">
                            {{ user.prenom }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Nom
                        </div>
                        <div class="col profilInfo">
                            {{ user.nom }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.telephone) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.telephone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.email) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.mdp) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.mdp) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.confirmation) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.confirmation) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Site de rattachement
                        </div>
                        <div class="col profilInfo">
                            {{ user.site.nom }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(formulaireUser.photo) }}
                        </div>
                        <div class="col">
                            {{ form_widget(formulaireUser.photo) }}
                        </div>
                    </div>
                    <div class="invisible">{{ form_rest(formulaireUser) }}</div><br>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" class="mx-auto  btn btn-primary">Enregistrer</button>
                        <a href="{{ path("mon_profil") }}"><button type="button" class="mx-auto  btn btn-danger">Annuler</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}